In [572]:
import os
import pandas as pd

df = pd.DataFrame(columns = ['Province/State', 'Country/Region', 'Last Update', 'Confirmed', 'Deaths', 'Recovered', 'Latitude', 'Longitude'])
directory = '/Users/ruizhi/Documents/国网大数据中心 题目/题目一/data/COVID-19-master/csse_covid_19_data/csse_covid_19_daily_reports'
for root,dirs,files in os.walk(directory):
    for file in files:
        df = df.append(pd.read_csv(directory + '/' + file))

In [528]:
df

,.DS_Store,Active,Admin2,Combined_Key,Confirmed,Country/Region,Country_Region,Deaths,FIPS,Last Update,Last_Update,Lat,Latitude,Long_,Longitude,Province/State,Province_State,Recovered,Unnamed: 0
0,NaN,NaN,NaN,NaN,65187,Mainland China,NaN,2615,NaN,2020-02-26T14:13:10,NaN,NaN,NaN,NaN,NaN,Hubei,NaN,20969,NaN
1,NaN,NaN,NaN,NaN,1347,Mainland China,NaN,7,NaN,2020-02-26T10:33:02,NaN,NaN,NaN,NaN,NaN,Guangdong,NaN,851,NaN
2,NaN,NaN,NaN,NaN,1271,Mainland China,NaN,19,NaN,2020-02-26T10:33:02,NaN,NaN,NaN,NaN,NaN,Henan,NaN,1033,NaN
3,NaN,NaN,NaN,NaN,1261,South Korea,NaN,12,NaN,2020-02-26T11:03:11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,22,NaN
4,NaN,NaN,NaN,NaN,1205,Mainland China,NaN,1,NaN,2020-02-26T10:33:02,NaN,NaN,NaN,NaN,NaN,Zhejiang,NaN,867,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
250,NaN,NaN,NaN,NaN,0,Australia,NaN,0,NaN,2020-03-06T04:33:03,NaN,NaN,-12.4634,NaN,130.846,Northern Territory,NaN,0,NaN
251,NaN,NaN,NaN,NaN,0,US,NaN,0,NaN,2020-02-24T23:33:02,NaN,NaN,29.3829,NaN,-98.6134,"Lackland, TX (From Diamond Princess)",NaN,0,NaN
252,NaN,NaN,NaN,NaN,0,US,NaN,0,NaN,2020-03-07T19:53:02,NaN,NaN,30.3213,NaN,-95.4778,"Montgomery County, TX",NaN,0,NaN
253,NaN,NaN,NaN,NaN,0,US,NaN,0,NaN,2020-02-24T23:33:02,NaN,NaN,41.2545,NaN,-95.9758,"Omaha, NE (From Diamond Princess)",NaN,0,NaN
254,NaN,NaN,NaN,NaN,0,US,NaN,0,NaN,2020-02-24T23:33:02,NaN,NaN,38.2721,NaN,-121.94,"Travis, CA (From Diamond Princess)",NaN,0,NaN

In [573]:
dt = df

In [530]:
dt.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 92516 entries, 0 to 254
Data columns (total 19 columns):
.DS_Store         0 non-null object
Active            84899 non-null float64
Admin2            77536 non-null object
Combined_Key      84899 non-null object
Confirmed         92497 non-null object
Country/Region    7617 non-null object
Country_Region    84899 non-null object
Deaths            92075 non-null object
FIPS              77094 non-null float64
Last Update       7617 non-null object
Last_Update       84899 non-null object
Lat               83913 non-null float64
Latitude          4799 non-null object
Long_             83913 non-null float64
Longitude         4799 non-null object
Province/State    4358 non-null object
Province_State    79967 non-null object
Recovered         92128 non-null object
Unnamed: 0        0 non-null object
dtypes: float64(4), object(15)
memory usage: 14.1+ MB

In [574]:
mask = dt['Last_Update'].isna()
a = dt[mask]
a = a.rename(columns={'Last Update': 'last_update'})

mask = dt['Last Update'].isna()
b = dt[mask]
b = b.rename(columns={'Last_Update': 'last_update'})

dt = a.append(b).drop(['Last_Update', 'Last Update'], 1)

In [575]:
mask = dt['Province_State'].isna()
a = dt[mask]
a = a.rename(columns={'Province/State': 'province_state'})

mask = dt['Province/State'].isna()
b = dt[mask]
b = b.rename(columns={'Province_State': 'province_state'})

dt = a.append(b).drop(['Province_State', 'Province/State'], 1)

In [576]:
mask = dt['Country_Region'].isna()
a = dt[mask]
a = a.rename(columns={'Country/Region': 'country_region'})

mask = dt['Country/Region'].isna()
b = dt[mask]
b = b.rename(columns={'Country_Region': 'country_region'})

dt = a.append(b).drop(['Country_Region', 'Country/Region'], 1)

In [577]:
mask = dt['Latitude'].isna()
a = dt[mask]
a = a.rename(columns={'Lat': 'latitude'})

mask = dt['Lat'].isna()
b = dt[mask]
b = b.rename(columns={'Latitude': 'latitude'})

dt = a.append(b).drop(['Latitude', 'Lat'], 1)

In [578]:
mask = dt['Longitude'].isna()
a = dt[mask]
a = a.rename(columns={'Long_': 'longitude'})

mask = dt['Long_'].isna()
b = dt[mask]
b = b.rename(columns={'Longitude': 'longitude'})

dt = a.append(b).drop(['Longitude', 'Long_'], 1)

In [579]:
dt = dt.drop(['.DS_Store','Unnamed: 0'], 1)

In [580]:
dt['last_update'] = pd.to_datetime(dt['last_update'])

In [581]:
dt['last_update'] = dt['last_update'].dt.strftime('%m/%d/%y %H:%M')

In [539]:
dt

,Active,Admin2,Combined_Key,Confirmed,Deaths,FIPS,Recovered,country_region,last_update,latitude,longitude,province_state
0,NaN,NaN,NaN,65187,2615,NaN,20969,Mainland China,02/26/20 14:13,NaN,NaN,Hubei
1,NaN,NaN,NaN,1347,7,NaN,851,Mainland China,02/26/20 10:33,NaN,NaN,Guangdong
2,NaN,NaN,NaN,1271,19,NaN,1033,Mainland China,02/26/20 10:33,NaN,NaN,Henan
3,NaN,NaN,NaN,1261,12,NaN,22,South Korea,02/26/20 11:03,NaN,NaN,NaN
4,NaN,NaN,NaN,1205,1,NaN,867,Mainland China,02/26/20 10:33,NaN,NaN,Zhejiang
...,...,...,...,...,...,...,...,...,...,...,...,...
2734,0.0,NaN,"Recovered, Canada",0,0,NaN,5855,Canada,04/10/20 23:01,NaN,NaN,Recovered
2735,0.0,NaN,"Recovered, US",0,0,NaN,28790,US,04/10/20 22:54,NaN,NaN,Recovered
2803,82.0,NaN,Diamond Princess,712,11,NaN,619,Diamond Princess,04/10/20 22:53,NaN,NaN,NaN
2858,7.0,NaN,",,MS Zaandam",9,2,NaN,0,MS Zaandam,04/10/20 22:53,NaN,NaN,NaN
2940,0.0,unassigned,"unassigned, Utah, US",0,4,NaN,0,US,04/10/20 22:54,NaN,NaN,Utah

In [582]:
dt = dt.replace('Mainland China', 'China')

In [583]:
dt = dt[~((dt['country_region'] == 'US') & (dt['FIPS'].isna()))]

In [584]:
dt = dt.sort_values(by=['FIPS','province_state','country_region','last_update'])

In [585]:
final = pd.DataFrame(columns = ['index','FIPS', 'Admin2', 'province_state', 'country_region', 'last_update', 'longitude', 'latitude','Confirmed', 'Deaths', 'Recovered', 'Active', 'Combined_Key'])
mask = ~dt['FIPS'].isna()

tmp = dt[mask].reset_index().drop('index', 1)
for i in tmp.index:
    if i == len(tmp) - 1:
        final = final.append(tmp.iloc[i])
    if i < len(tmp) - 1 and (tmp['FIPS'].iloc[i] != tmp['FIPS'].iloc[i + 1]):
        final = final.append(tmp.iloc[i])

In [586]:
final

,index,FIPS,Admin2,province_state,country_region,last_update,longitude,latitude,Confirmed,Deaths,Recovered,Active,Combined_Key
16,NaN,66.0,NaN,Guam,US,04/18/20 22:32,144.7937,13.4443,136.0,5.0,0.0,131.0,"Guam, US"
19,NaN,69.0,NaN,Northern Mariana Islands,US,04/18/20 22:32,145.6739,15.0979,14.0,2.0,0.0,12.0,"Northern Mariana Islands, US"
36,NaN,72.0,NaN,Puerto Rico,US,04/18/20 22:32,-66.5901,18.2208,1118.0,60.0,0.0,1058.0,"Puerto Rico, US"
53,NaN,78.0,NaN,Virgin Islands,US,04/18/20 22:32,-64.8963,18.3358,53.0,3.0,0.0,50.0,"Virgin Islands, US"
67,NaN,250.0,NaN,NaN,France,04/15/20 22:56,2.2137,46.2276,133470.0,17167.0,30955.0,85348.0,France
...,...,...,...,...,...,...,...,...,...,...,...,...,...
79254,NaN,90053.0,Unassigned,Washington,US,04/18/20 22:32,NaN,NaN,444.0,0.0,0.0,444.0,"Unassigned, Washington, US"
79302,NaN,90054.0,Unassigned,West Virginia,US,04/18/20 22:32,NaN,NaN,0.0,9.0,0.0,-9.0,"Unassigned, West Virginia, US"
79370,NaN,90055.0,Unassigned,Wisconsin,US,04/18/20 22:32,NaN,NaN,0.0,0.0,0.0,0.0,"Unassigned, Wisconsin, US"
79382,NaN,90056.0,Unassigned,Wyoming,US,04/18/20 22:32,NaN,NaN,0.0,1.0,0.0,-1.0,"Unassigned, Wyoming, US"
79461,NaN,99999.0,NaN,Grand Princess,US,04/18/20 22:32,NaN,NaN,103.0,0.0,0.0,103.0,"Grand Princess, US"

In [587]:
mask = (dt['FIPS'].isna() & ~dt['province_state'].isna())
tmp = dt[mask].reset_index().drop('index', 1)
for i in tmp.index:
    if i == len(tmp) - 1:
        final = final.append(tmp.iloc[i])
    if i < len(tmp) - 1 and (tmp['province_state'].iloc[i] != tmp['province_state'].iloc[i + 1]):
        final = final.append(tmp.iloc[i])
    
mask = (dt['FIPS'].isna() & dt['province_state'].isna())
tmp = dt[mask].reset_index().drop('index', 1)
for i in tmp.index:
    if i == len(tmp) - 1:
        final = final.append(tmp.iloc[i])
    if i < len(tmp) - 1 and (tmp['country_region'].iloc[i] != tmp['country_region'].iloc[i + 1]):
        final = final.append(tmp.iloc[i])

In [588]:
final

,index,FIPS,Admin2,province_state,country_region,last_update,longitude,latitude,Confirmed,Deaths,Recovered,Active,Combined_Key
16,NaN,66.0,NaN,Guam,US,04/18/20 22:32,144.793700,13.444300,136.0,5.0,0.0,131.0,"Guam, US"
19,NaN,69.0,NaN,Northern Mariana Islands,US,04/18/20 22:32,145.673900,15.097900,14.0,2.0,0.0,12.0,"Northern Mariana Islands, US"
36,NaN,72.0,NaN,Puerto Rico,US,04/18/20 22:32,-66.590100,18.220800,1118.0,60.0,0.0,1058.0,"Puerto Rico, US"
53,NaN,78.0,NaN,Virgin Islands,US,04/18/20 22:32,-64.896300,18.335800,53.0,3.0,0.0,50.0,"Virgin Islands, US"
67,NaN,250.0,NaN,NaN,France,04/15/20 22:56,2.213700,46.227600,133470.0,17167.0,30955.0,85348.0,France
...,...,...,...,...,...,...,...,...,...,...,...,...,...
21545,NaN,NaN,NaN,NaN,Western Sahara,04/18/20 22:32,-12.885800,24.215500,6.0,0.0,0.0,6.0,Western Sahara
21563,NaN,NaN,NaN,NaN,Yemen,04/18/20 22:32,48.516388,15.552727,1.0,0.0,0.0,1.0,Yemen
21627,NaN,NaN,NaN,NaN,Zambia,04/18/20 22:32,27.849332,-13.133897,57.0,2.0,33.0,22.0,Zambia
21687,NaN,NaN,NaN,NaN,Zimbabwe,04/18/20 22:32,29.154857,-19.015438,25.0,3.0,2.0,20.0,Zimbabwe
21701,NaN,NaN,NaN,NaN,occupied Palestinian territory,03/11/20 20:53,35.233200,31.952200,0.0,0.0,0.0,NaN,NaN

In [589]:
final = final.drop('index', 1).rename(columns={'province_state': 'Province_State', 
                                       'country_region':'Country_Region',
                                       'last_update':'Last_Update',
                                       'longitude':'Longitude',
                                       'latitude':'Latitude'})

In [590]:
final.sort_values(by=['Country_Region','Province_State']).reset_index().drop('index',1).to_excel('data/JHUData.xlsx')